 {% extends "customadmin.html" %}
{% load crispy_forms_tags %} 
{% block admin %}


{% if messages %} 
{% for i in messages %}
<h4>{{i}}</h4>
{% endfor %} {% endif %}






<style>

    
   
    
    .formclass {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .form-control::placeholder {
        font-size: 23px; 
        font-weight: 500;
    }
    
    .form-control {
        
        padding: 15px;
        width: 700px;
    }

    .form-control-file{
        padding: 15px;
        width: 700px;
        background-color: white;
        border-radius: 5px;
    }
    .form-control-file::placeholder {
        font-size: 23px; 
        font-weight: 500;
    }

    .emailclass{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .emailclass label{
        font-size: 25px;
        font-weight: 600;
    }

    .form-group label {
        font-size: 25px; /* Adjust the font size as needed */
    }

  

    
.buttonclass{
    font-size: 25px;
    font-weight: 500;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(63, 84, 85);
    text-decoration: none;
    border-radius: 40px;
    color: white;
    
}


.studentwistsecond h1{
    text-align: center;
    font-weight: 600;
    padding-top: 7%;
}

.Footer{
    padding-top: 70px;
    text-align: center;
}

.Footer h1{
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 3px solid white;
}
.institutebanner h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
   
}



.notificationfulldivsec{
    padding-top: 70px;
    text-align: center;
}

.notificationfulldivsec h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2%;
}


.ourfamouscourseforms{
    padding-bottom: 5%;
   
}
.ourfamouscourseforms{
    padding-bottom: 5%;
   
}
.Footerheader{
    padding-bottom: 5%;
    border-bottom: 3px solid white;
    
}

</style>


<div class="">
    <div class=" Footer">
        <h1 >ফুটার   </h1>
    </div>
</div>

<div class="">
    <div class=" institutebanner ">
        <h1> ফুটার হেডার নাম </h1>
    </div>
</div>


 

<!-- template.html -->
<div class="ourfamouscourseforms Footerheader">
    <form method="post" action="{% url 'Footerforms' %}" class="formclass" enctype="multipart/form-data">
        {% csrf_token %}
       <div class="emailclass">
            <label for="message"> Header Title Name</label>
            <textarea class="form-control" id="message" name="Header_Name" required  placeholder="Write Header Title Name"></textarea>
        </div>
       
        <div class="sendbutton">
            <button type="submit" class="buttonclass">Send</button>
        </div>
    </form> 
</div>





<div class="">
    <div class=" institutebanner">
        <h1> ফুটারের হেডার অনুযায়ী ডেটা সেট </h1>
    </div>
</div>


 


<div class="ourfamouscourseforms">
    <form method="post" action="{% url 'FooterTitleWise_forms' %}" class="formclass" enctype="multipart/form-data">
        {% csrf_token %}
       <div class="emailclass">
            <label for="message"> Header Title Name</label>
            <textarea class="form-control" id="message" name="HeaderChoice" required  placeholder="Header Title Name"></textarea>
        </div>
       <div class="emailclass">
            <label for="message"> Header Wise Title Data</label>
            <textarea class="form-control" id="message" name="List_Data" required placeholder="Write Header Wise Title Data"></textarea>
        </div>
       
        <div class="sendbutton">
            <button type="submit" class="buttonclass">Send</button>
        </div>
    </form> 
</div>



 
{% endblock  %}