{% extends "customadmin.html" %}
{% load crispy_forms_tags %} 
{% block admin %}


{% if messages %} 
{% for i in messages %}
<h4>{{i}}</h4>
{% endfor %} {% endif %}






<style>

    
   
    
    .formclass {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .form-control::placeholder {
        font-size: 23px; 
        font-weight: 500;
    }
    
    .form-control {
        
        padding: 15px;
        width: 700px;
    }

    .form-control-file{
        padding: 15px;
        width: 700px;
        background-color: white;
        border-radius: 5px;
    }
    .form-control-file::placeholder {
        font-size: 23px; 
        font-weight: 500;
    }

    .emailclass{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .emailclass label{
        font-size: 25px;
        font-weight: 600;
    }

    .form-group label {
        font-size: 25px; /* Adjust the font size as needed */
    }

  

    
.buttonclass{
    font-size: 25px;
    font-weight: 500;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(63, 84, 85);
    text-decoration: none;
    border-radius: 40px;
    color: white;
    
}


.studentwistsecond h1{
    text-align: center;
    font-weight: 600;
    padding-top: 7%;
}

.ourfamouscourse{
    padding-top: 70px;
    text-align: center;
}

.ourfamouscourse h1{
    font-size: 55px;
    font-weight: 600;
}


.notificationfulldivsec{
    padding-top: 70px;
    text-align: center;
}

.notificationfulldivsec h1{
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 2%;
}


.ourfamouscourseforms{
    padding-bottom: 5%;
    border-bottom: 3px solid white;
}
.formclassdiv{
    padding-bottom: 5%;
}

</style>


<div class="">
    <div class=" ourfamouscourse">
        <h1> জনপ্রিয় কোর্স সংক্ষিপ্ত সামারি </h1>
    </div>
</div>

<div class=" ourfamouscourseforms">
    <form method="post" action="{% url 'NameWiseCardReturn' %}" class="formclass" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="emailclass">
            <label for="message">Summery Text</label>
            <textarea class="form-control" id="message" name="Cattegory_top_text" required rows="12" placeholder="Write Your Text"></textarea>
        </div>
        <div class="sendbutton">
            <button type="submit" class="buttonclass">Send </button>
        </div>
    </form> 
</div>





<div class="notificationfulldiv">
    <div class="notificationfulldivsec">
        <h1> ডিপার্টমেন্ট অনুযায়ী কোর্স এর ডাটা সেট </h1>
    </div>
</div>

<div class="formclassdiv">
    <form method="post" action="{% url 'Card_wise_data_forms' %}" class="formclass" enctype="multipart/form-data">
        {% csrf_token %}

        
        
        <div class="emailclass">
            <label for="message">Department Name</label>
            <textarea class="form-control" id="message" name="Category_Name" required  placeholder="Write Your Department Name"></textarea>
        </div>
        <div class="emailclass">
            <label for="exampleFormControlFile1">Course Image</label>
            <br>
            <input type="file" class="form-control-file formcontraol" id="exampleFormControlFile1" name="Image" required placeholder="Course Image">
        </div>
        <div class="emailclass">
            <label for="message">Course Name</label>
            <textarea class="form-control" id="message" name="Course_name" required placeholder="Write Course Name"></textarea>
        </div>
        <div class="emailclass">
            <label for="message">Student Review</label>
            <textarea class="form-control" id="message" name="student_review" required placeholder="Write Student Review"></textarea>
        </div>
        <div class="emailclass">
            <label for="message">Course Fees</label>
            <textarea type="number" class="form-control" id="quantity" name="Course_fees" required placeholder="Write Course Fees"></textarea>
        </div>
        

        <div class="sendbutton">
            <button type="submit" class="buttonclass">Send </button>
        </div>
    </form> 
</div>



 
{% endblock  %}