{% extends "profile.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block Deshboard %}



<style>

    .certificatefulldiv{
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .cretificatesecdiv{
        background-color: rgb(134, 190, 190);
        border-radius: 20px;
        padding-bottom: 5%;
        
        
    }

    .Certificationdiv{
        padding-top: 5%;
    }

    .Certificationdiv h1{
        text-align: center;
        font-size: 500%;
        color: white;
        font-weight: 700%;
        border-bottom: 3px solid white;
        padding-bottom: 3%;
    }

    .imagediv{
        text-align: center;
        padding-top: 5%;
    }
    .imagediv img{
        height: 50%;
        width: 50%;
    }
    .certifi h1{
        font-size: 30px;
        color: white;
        padding-top: 2%;
        text-align: center;
    }

    .clickbutton h1{
        font-size: 30px;
        color: white;
        padding-top: 2%;
        text-align: center;
        padding-bottom: 4%;
    }

    .clickbutton a{
        text-align: center;
        margin: auto;
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color:rgb(109, 158, 158) ;
        color: white;
        text-decoration: none;
        border-radius: 40px;
    }
    .fa-download{
        text-align: center;
    }
    .downoladbutton{
        text-align: center;
        justify-content: center;
    }

    .clickbutton {
       
        
    }
    
    .clickbutton {
        text-align: center; /* Center horizontally */
        position: relative; /* Create a containing block for absolute positioning */
       
    }
    
  
    
    
    

</style>

<div class="certificatefulldiv">
    <div class="cretificatesecdiv">
        <div class="Certificationdiv">
            <h1>সার্টিফিকেট</h1>
        </div>
        <div class="imagediv">
            <img src="{% static 'socialmedia/cer.png' %}" alt="">
        </div>

        {% if pdf and pdf.Certificate %}
            <div class="clickbutton">
                <h1>নিচের বাটন এ  ক্লিক করুন এবং সার্টিফিকেট ডাউনলোড করুন। </h1>
                <a href="{{ pdf.Certificate.url }}" class="downoladbutton" download="pdf">ডাউনলোড
                    <i class="fa fa-download"></i> 
                </a>
            </div>
        {% else %}
            <div class="certifi">
                <h1>এখনো কোন সার্টিফিকেট ইস্যু করা হয়নি!</h1>
            </div>
        {% endif %}
    </div>
</div>



<h1>Batch Messages</h1>
    {% if batch_messages %}
        <ul>
            {% for message in batch_messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages found for your batch.</p>
    {% endif %}

{% endblock Deshboard %}
