{% extends "customadmin.html" %}
{% load static %}
{% block admin %}


<style>
.totalsut{
   padding-top: 15px;
    
    width: 50%;
    background-color: rgb(19, 74, 78);
    border-radius: 15px;
    text-align: center;
    margin: auto;
    color: white;
}


.alldeparttext{
    border-top: 3px solid white ;
    padding-top: 25px;
}


.coursenameandbatch h1{
    font-weight: 600;
    padding-top:5% ;
    padding-bottom: 1%;
    text-align: center;
}

.olgropu{
    padding: 5px;
}
.olgropu li{
    padding: 5px;
    font-size: 25px;
    font-weight: 500;
    text-align: start;
    padding-left: 5%;
}

.fledwratpdflexdiv{
    flex-wrap: wrap;
}

.batchidname{
    color: black;
    
}
.fledwratpdflexdiv{
    border-bottom: 3px white solid;
}

.pdfpng{
    height: 80px;
    width: 80px;
    text-align: center;
}



.trte{
    text-align: center;
}

.pdftd{
    text-align: center;
}

.presenttd{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 22px;
    background-color: #33517e;
    text-align: center;
    border-radius: 40px;
}

</style>
<div class=" col-6 pt-5 align-items-center">
    
        {% if messages %} 
        {% for i in messages %}
        <div class="alert alert-warning bg-white alert-dismissible text-black fade show border-none  justify-content-center" role="alert">
            <strong><h4>{{i}}</h4></strong> 
            <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} 
        {% endif %}
    </div>


<div class=" coursenameandbatch">
    <h1>ব্যাচসমূহ </h1>
</div>

<div>
    <div class="d-flex p-5 fledwratpdflexdiv">
        {% if courses_with_batches %}
            {% for course_name, batch_ids in courses_with_batches.items %}
                <div class="totalsut">
                    <div class="studdivb">
                        <h3 class="pb-3">{{ course_name }}</h3>
                        <div class="olgropu">
                            <ol class="list-group list-group-numbered">
                                {% for batch_id in batch_ids %}
                                    <li class="list-group-item">
                                        
                                        <a href="{% url 'teacher_wise_student_datareturn' batch_id=batch_id %}" class="batchidname"  >{{ batch_id }} </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No batches found for the current user.</p>
        {% endif %}
    </div>
</div>








<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       
    }
    
    .content-table thead tr {
        background-color: #0a1110;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        padding-top: 15px;
       
    }
    
    .content-table th,
    .content-table td {
        padding: 12px 15px;
        font-size: 17px;
        font-weight: 600;
        color: white;
    }
    
    .content-table tbody tr {
        border-bottom: 2px solid #ffffff;
        background-color: #011f4b;
    }
    
.contractform h1{
   
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 600;
}
    
.contractform h2{
   
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 600;
}

.contractformfulldiv{
    padding-bottom: 10%;
}
    
</style>


<div class=" contractform">
    <h1>ব্যাচভিত্তিক শিক্ষার্থীদের তথ্য</h1>
</div>


<div class="contractform">
    {% for course_name, batch_ids in courses_with_batches.items %}
        <h1>Course Name: {{ course_name }}</h1>
    {% empty %}
        <h3>No courses available.</h3>
    {% endfor %}
</div>



<div class="contractformfulldiv">
    <div>
        <table class="content-table w-100">
            <thead>
                <tr>
                    <th><h4>Id</h4></th>
                    <th><h4>Batch Name</h4></th>
                    <th><h4>Student Id</h4></th>
                    <th><h4>Student Name</h4></th>
                    <th><h4>Email</h4></th>
                    <th><h4>Phone Number</h4></th>
                </tr>
            </thead> 
            <tbody id="studentTableBody">
                {% for i in student_data %}
                <tr class="list-group-numbered">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.batch_number.batch_id }}</td>
                    <td>{{ i.Student_profile_data.account_number }}</td>
                    <td>{{ i.Student_User_data.first_name }} {{ i.Student_User_data.last_name }}</td>
                    <td>
                        <a href="{% url 'teacher_wise_student_datareturn' i.Student_User_data.email %}" class="batchidname text-white">{{ i.Student_User_data.email }}</a>
                    </td>
                    <td>{{ i.Student_profile_data.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>






<script>
    // JavaScript to set the index for each row
    window.onload = function() {
        var tableBody = document.getElementById('studentTableBody');
        var rows = tableBody.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            rows[i].getElementsByTagName('td')[0].innerText = (i + 1).toString();
        }
    };
</script>





<!-- student Assingment -->



<div class=" contractform">
    <h1> স্টুডেন্ট এটেন্ডেন্স </h1>
</div>


<table class="content-table w-100">
    {% if student %}
    <div class="contractformemildata">
        <h4>Student Name: {{ student.first_name }} {{ student.last_name }}</h4>
        <h4>Student Email: {{ student.email }}</h4>
    </div>
    {% endif %}
    <thead>
        <tr class="trte">
            <th><h4>Id</h4></th>
            <th><h4>Assignment Summary</h4></th>
            <th><h4>Attendance</h4></th>
            <th><h4>Mark Absent Student</h4></th>
        </tr>
    </thead>
    <tbody id="studentTableBody">
        {% if attendance_records %}
        {% for record in attendance_records %}
        <tr class="list-group-numbered">
            <td>{{ forloop.counter }}</td>
            <td>{{ record.meet_link.learnig_topic_name }}</td>
            <td><p class="presenttd">{{ record.attend|yesno:"Present,Absent" }}</p></td>
            <td><p class="presenttd">Absent Stu</p></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No student data found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>




<table class="content-table w-100">
    <thead>
        <tr class="trte">
            <th><h4>Id</h4></th>
            <th><h4>Learning Topic Name</h4></th>
            <th><h4>Attendance</h4></th>
            <th><h4>Attendance show</h4></th>
            <th><h4>Mark Attendence</h4></th>
        </tr>
    </thead>
    <tbody id="meetLinkTableBody">
        {% for link in meet_links %}
            <tr class="list-group-numbered">
                <td>{{ forloop.counter }}</td>
                <td>{{ link.learnig_topic_name }}</td>
                <td>
                    {% for record in attendance_records %}
                        {% if record.meet_link.id == link.id %}
                            {% if record.attend %}
                                true
                            {% else %}
                                false
                            {% endif %}
                        {% endif %}
                    {% empty %}
                        Not recorded
                    {% endfor %}
                </td>
                <td>{{ link.absent }}</td>
                <td>
                    <form method="post" action="{% url 'student_absentforms' %}" class="formclass" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="learnig_topic_name" value="{{ link.id }}">
                        <div class="emailclass">
                            <input class="form-control" name="absent">
                        </div>
                        <div class="sendbutton">
                            <button type="submit" class="buttonclass">Send</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>




<script>
    // JavaScript to set the index for each row
    window.onload = function() {
        var tableBody = document.getElementById('studentTableBody');
        var rows = tableBody.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            rows[i].getElementsByTagName('td')[0].innerText = (i + 1).toString();
        }
    };
</script>





  
{% endblock  %}